@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* React-slick */
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #616161 !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #616161 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #616161 !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  overflow: visible;
}

.carousel-arrow:hover {
  background: #e89f71;
  color: white;
}

.price-card {
  display: none !important;
}

.slick-initialized .slick-active .price-card {
  display: block !important;
  animation: slide-fwd-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s forwards;
  z-index: -1;
}

@keyframes slide-fwd-top {
  0% {
    transform: translateZ(0) translateY(0) translateX(0);
    z-index: -1;
  }
  15% {
    transform: translateZ(-160px) translateY(100px) translateX(-100px);
    z-index: -1;
  }
  100% {
    transform: translateZ(0) translateY(0) translateX(0);
    z-index: 10;
  }
}
